/*
 * General css
*/
a{
	text-decoration:none;
	color:teal;
}
a:focus{
	outline:none;
}
.selected{
	font-weight:bold;
}

.listRepos {
    margin: 20px auto;
    width: 90%;
}

.repo {
	box-shadow: 0 9px 4px -5px rgba(0, 0, 0, 0.5);
	display: block;
	margin: 20px auto;
	min-height: 100px;
	padding: 20px;
	width: 95%;
	border: 1px solid silver;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;	
	box-sizing:border-box;
}


.repo a{
	color:black;
	font-weight:300;
	font-size:24px;
	text-transform: Uppercase;
	font-family: 'Gafata', sans-serif;
	
}



